.sidebar {
  width: 230px;
  height: 100vh;
  background-color: #111827;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 25px;
  position: fixed;
  left: 0;
  top: 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-links a {
  color: #d1d5db;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 10px;
  border-radius: 6px;
  transition: 0.2s ease;
}

.nav-links a:hover {
  background-color: #374151;
  color: white;
}

.logout {
  margin-top: auto;
  color: #f87171;
  text-decoration: none;
  font-size: 18px;
}

.logout:hover {
  background-color: #7f1d1d;
  padding: 8px;
  border-radius: 6px;
  color: white;
}
